.upload_form {
  margin-top:20px;
  border: 2px #333 solid;
  padding:10px 15px 20px 15px;
  display:flex;
  flex-direction: column;
}

.upload_form .form_title {
  background-color: #333;
  color: white;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  margin:-20px -18px 20px -18px;
}

.upload_form .form_element{
   margin-bottom:10px;
   font-size: 20px;
   padding:5px 10px 5px 10px;
}
